In [1]:
import pandas as pd
db = pd.read_csv('playnotplay.csv')
db.describe()

       outlook  temp humidity  windy play
count       14    14       14     14   14
unique       3     3        2      2    2
top      sunny  mild     high  False  yes
freq         5     6        7      8    9