In [2]:
import pandas as pd
df = pd.read_excel('Weather.xlsx')

In [3]:
df.shape

(7, 5)

In [4]:
df.describe()

                       Day  Temperature  WindSpeed
count                    7     6.000000   7.000000
mean   2018-06-19 00:00:00    28.000000   9.571429
min    2018-06-16 00:00:00    23.000000  -5.000000
25%    2018-06-17 12:00:00    27.500000   3.000000
50%    2018-06-19 00:00:00    29.000000  12.000000
75%    2018-06-20 12:00:00    29.750000  17.000000
max    2018-06-22 00:00:00    30.000000  20.000000
std                    NaN     2.683282   9.980934

In [5]:
df.head(3)

         Day  Temperature  WindSpeed WindDirection Weather
0 2018-06-16         27.0          9             N    Rain
1 2018-06-17         23.0         12             E    Rain
2 2018-06-18         30.0         16             E   Sunny

In [6]:
df.tail(3)

         Day  Temperature  WindSpeed WindDirection Weather
4 2018-06-20         30.0         18            NE  Cloudy
5 2018-06-21         29.0         -5             N   Sunny
6 2018-06-22          NaN         20             E    Rain

In [7]:
df[2:5]

         Day  Temperature  WindSpeed WindDirection Weather
2 2018-06-18         30.0         16             E   Sunny
3 2018-06-19         29.0         -3            NE   Sunny
4 2018-06-20         30.0         18            NE  Cloudy

In [8]:
df.columns

Index(['Day', 'Temperature', 'WindSpeed', 'WindDirection', 'Weather'], dtype='object')

In [9]:
df.Day

0   2018-06-16
1   2018-06-17
2   2018-06-18
3   2018-06-19
4   2018-06-20
5   2018-06-21
6   2018-06-22
Name: Day, dtype: datetime64[ns]

In [10]:
df['Day']

0   2018-06-16
1   2018-06-17
2   2018-06-18
3   2018-06-19
4   2018-06-20
5   2018-06-21
6   2018-06-22
Name: Day, dtype: datetime64[ns]

In [11]:
df[['WindSpeed', 'WindDirection']]

   WindSpeed WindDirection
0          9             N
1         12             E
2         16             E
3         -3            NE
4         18            NE
5         -5             N
6         20             E

In [12]:
df.Temperature.max()

30.0

# df.loc[rows selection, columns selection]

Use loc to select data by label or by means of a conditional statement.

In [13]:
df.loc[1]

Day              2018-06-17 00:00:00
Temperature                     23.0
WindSpeed                         12
WindDirection                      E
Weather                         Rain
Name: 1, dtype: object

In [14]:
df.loc[1:4]

         Day  Temperature  WindSpeed WindDirection Weather
1 2018-06-17         23.0         12             E    Rain
2 2018-06-18         30.0         16             E   Sunny
3 2018-06-19         29.0         -3            NE   Sunny
4 2018-06-20         30.0         18            NE  Cloudy

In [15]:
df.loc[:, 'Day']

0   2018-06-16
1   2018-06-17
2   2018-06-18
3   2018-06-19
4   2018-06-20
5   2018-06-21
6   2018-06-22
Name: Day, dtype: datetime64[ns]

In [16]:
df.loc[:, ['Day', 'Temperature']]

         Day  Temperature
0 2018-06-16         27.0
1 2018-06-17         23.0
2 2018-06-18         30.0
3 2018-06-19         29.0
4 2018-06-20         30.0
5 2018-06-21         29.0
6 2018-06-22          NaN

In [17]:
df.loc[1:4, ['Day', 'Temperature']]

         Day  Temperature
1 2018-06-17         23.0
2 2018-06-18         30.0
3 2018-06-19         29.0
4 2018-06-20         30.0

In [18]:
df.loc[[2, 3], ['Day', 'Temperature']]

         Day  Temperature
2 2018-06-18         30.0
3 2018-06-19         29.0

In [19]:
# Conditional select, max
df.loc[df['WindSpeed'] == df['WindSpeed'].max(), ['Day', 'WindSpeed']]

         Day  WindSpeed
6 2018-06-22         20

In [20]:
df.iloc[1]

Day              2018-06-17 00:00:00
Temperature                     23.0
WindSpeed                         12
WindDirection                      E
Weather                         Rain
Name: 1, dtype: object

In [21]:
df.iloc[1:4]

         Day  Temperature  WindSpeed WindDirection Weather
1 2018-06-17         23.0         12             E    Rain
2 2018-06-18         30.0         16             E   Sunny
3 2018-06-19         29.0         -3            NE   Sunny

In [22]:
df.iloc[:, 1]

0    27.0
1    23.0
2    30.0
3    29.0
4    30.0
5    29.0
6     NaN
Name: Temperature, dtype: float64

In [23]:
df.iloc[:, 1:4]

   Temperature  WindSpeed WindDirection
0         27.0          9             N
1         23.0         12             E
2         30.0         16             E
3         29.0         -3            NE
4         30.0         18            NE
5         29.0         -5             N
6          NaN         20             E

In [24]:
df.iloc[[2, 3], [1, 2]]

   Temperature  WindSpeed
2         30.0         16
3         29.0         -3

In [25]:
df.iloc[[2, 3], 1:4]

   Temperature  WindSpeed WindDirection
2         30.0         16             E
3         29.0         -3            NE

In [26]:
df[df['WindSpeed'] < 16]

         Day  Temperature  WindSpeed WindDirection Weather
0 2018-06-16         27.0          9             N    Rain
1 2018-06-17         23.0         12             E    Rain
3 2018-06-19         29.0         -3            NE   Sunny
5 2018-06-21         29.0         -5             N   Sunny

In [27]:
df[df['WindSpeed'] == df['WindSpeed'].max()]

         Day  Temperature  WindSpeed WindDirection Weather
6 2018-06-22          NaN         20             E    Rain

In [28]:
df[['Day', 'Temperature']][df['WindSpeed'] == df['WindSpeed'].max()]

         Day  Temperature
6 2018-06-22          NaN

In [29]:
df.drop('WindSpeed', axis=1, inplace=True)

In [30]:
df = pd.read_excel('Weather.xlsx')
df.drop(df[df.WindSpeed < 0].index, inplace=True)
df

         Day  Temperature  WindSpeed WindDirection Weather
0 2018-06-16         27.0          9             N    Rain
1 2018-06-17         23.0         12             E    Rain
2 2018-06-18         30.0         16             E   Sunny
4 2018-06-20         30.0         18            NE  Cloudy
6 2018-06-22          NaN         20             E    Rain

In [31]:
df = pd.read_excel('Weather.xlsx')

In [36]:
df[df.WindSpeed > 0].WindSpeed.mean()

15.0

In [37]:
df.Temperature.fillna(df.Temperature.mean(), inplace=True)

C:\Users\rodri\AppData\Local\Temp\ipykernel_10092\3300590041.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df.Temperature.fillna(df.Temperature.mean(), inplace=True)

In [38]:
df

         Day  Temperature  WindSpeed WindDirection Weather
0 2018-06-16         27.0          9             N    Rain
1 2018-06-17         23.0         12             E    Rain
2 2018-06-18         30.0         16             E   Sunny
3 2018-06-19         29.0         -3            NE   Sunny
4 2018-06-20         30.0         18            NE  Cloudy
5 2018-06-21         29.0         -5             N   Sunny
6 2018-06-22         28.0         20             E    Rain

In [39]:
df.loc[df.Temperature.isnull(), 'Temperature'] = df.Temperature.mean()

In [40]:
df

         Day  Temperature  WindSpeed WindDirection Weather
0 2018-06-16         27.0          9             N    Rain
1 2018-06-17         23.0         12             E    Rain
2 2018-06-18         30.0         16             E   Sunny
3 2018-06-19         29.0         -3            NE   Sunny
4 2018-06-20         30.0         18            NE  Cloudy
5 2018-06-21         29.0         -5             N   Sunny
6 2018-06-22         28.0         20             E    Rain